/1sem/Algo 1/TRABALHOS/Exercicios_Parte02/GabrielSchaeffer/nbproject/private/
/1sem/Algo 1/TRABALHOS/Exercicios_Parte02/GabrielSchaeffer/build/
/1sem/Algo 1/AULAS/Aula5_ERepeticao/nbproject/private/
/1sem/Algo 1/AULAS/Aula5_ERepeticao/build/
/1sem/Algo 1/TRABALHOS/Lista1/nbproject/private/
/1sem/Algo 1/TRABALHOS/Lista1/build/
