/1sem/Algo 1/TRABALHOS/Exercicios_Parte02/GabrielSchaeffer/nbproject/private/
/1sem/Algo 1/TRABALHOS/Exercicios_Parte02/GabrielSchaeffer/build/
/1sem/Algo 1/AULAS/Aula5_ERepeticao/nbproject/private/
/1sem/Algo 1/AULAS/Aula5_ERepeticao/build/
/1sem/Algo 1/TRABALHOS/Lista1/nbproject/private/
/1sem/Algo 1/TRABALHOS/Lista1/build/
/1sem/Algo 1/AULAS/Aula6/Aula_6/nbproject/private/
/1sem/Algo 1/AULAS/Aula6/Aula_6/build/
/1sem/Algo 1/AULAS/Aula7_Arrays/nbproject/private/
/1sem/Algo 1/AULAS/Aula7_Arrays/build/
/1sem/Algo 1/AULAS/Aula8/nbproject/private/
/1sem/Algo 1/AULAS/Aula8_Arrays2/nbproject/private/
/1sem/Algo 1/AULAS/Aula8_Arrays2/build/
/1sem/Algo 1/AULAS/Aula9_Subrotinas/nbproject/private/
/1sem/Algo 1/AULAS/Aula9_Subrotinas/build/
